<h1>Reset Password</h1>
<form action="/verify-email" method="POST">
  <label for="email">Email</label>
  <br />
  <input type="email" name="email" placeholder="Enter email" />
  <br />
  <button type="submit">Submit</button>
</form>
