<div id="message-bar"></div>
  <p id="notification"></p>
</div>
<h1>New Password</h1>
<form action="/reset-password" method="POST" id="form-new-password">
  <input type="hidden" name="token" id="token" value="<%= token %>" />
  <label for="password">New Password</label>
  <br />
  <input
    type="password"
    name="password"
    id="password"
    placeholder="Enter New Password"
  />
  <br />
  <button type="submit">Submit</button>
</form>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();

  const notification = document.getElementById("notification");
  const form = document.getElementById("form-new-password");


  form.addEventListener("submit", (e) => {
    const token = document.getElementById("token").value;
    const newPassword = document.getElementById("password").value;
    e.preventDefault();
    const body = {
      token: token,
      password: newPassword,
    };

    fetch("/reset-password", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(body),
    })
      .then((res) => res.json())
      .then((data) => {
        if (data.status === 200) {
          socket.emit("notification", data.message);
          setTimeout(() => {
            window.location.href = `/sign-in`;
          }, 3000);
        } else {
          socket.emit("notification", data.message);
          setTimeout(() => {
            window.location.reload();
          }, 3000);  
        }
      })
      .catch((err) => {
        console.log(err);
      });
  });

  socket.on("notification", (data) => {
    notification.textContent = data;
  });
</script>
